{% extends 'TestTaskPhotosBundle:Api:_api_sandbox_layout.html.twig' %}

{% block request_method config.method|upper %}

{% block request_uri app.request.getUriForPath(config.uri) %}

{% block request_params %}
    <tr>
        <td>
            Uri:
        </td>
        <td>
            {{ config.uri }}
        </td>
    </tr>
    <tr>
        <td>
            Method:
        </td>
        <td>
            {{ config.method|upper }}
        </td>
    </tr>

    {% for fieldName, field in config.fields|default({}) %}
        <tr>
            <td>
                {{ field.label }}:
            </td>
            <td>
                {% if field.type|default('text') == 'file' %}
                    <input type="file" file-model="request.{{- fieldName -}}" />
                {% else %}
                    {% set multiple = field.multuple|default(false) %}

                    <input type="text" ng-model="request.{{- fieldName -}}" {% if multiple %}ng-list=","{% endif %} />
                    {% if multiple %}
                        <p class="help-text">Можно вводить несколько значений через запятую.</p>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}
